<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MenuPlanner"
      connectionString="Data Source=AKAZYAKA-PC\SQLEXPRESS;Initial Catalog=MenuPlanner;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>